/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Makes layout sizing much easier */
}

body {
    font-family: Arial, sans-serif; /* Sets a clean default font */
    line-height: 1.6;
    background-color: rgb(131, 131, 131);
}

.Welcome_Message{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    text-align: center;

    color:blueviolet;
    stroke: white;
    stroke-width: 5px;
}

.Welcome{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color:white;
    text-align: center;
    border: 5px solid black;
    background-color: black;
    padding: 3px;

}