/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Makes layout sizing much easier */
}

body {
    font-family: Arial, sans-serif; /* Sets a clean default font */
    line-height: 1.6;
    background-color: rgb(131, 131, 131);
}

.Welcome_Message{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:50px;
    text-align: center;
    padding: 0px;
    color:rgb(120, 40, 194);

}
.Error{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    -webkit-text-stroke: .5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 0, 0);
    
}
.Menu_Button{
    margin-top: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    background-color:white;
    border-radius: 5px;
    padding: 12px 28px;
    transition-duration: 0.4s;
    
}
.Menu_Button:hover{
    background-color: blueviolet;
    color: white;
}

header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    color:white;
    text-align: center;
    background-color: black;
    padding: 5px;

}
.article_post{
    border-color: black;
    border: 2px;
    border-style: solid;
    margin-bottom:20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(167, 165, 165);
    font-family: Arial, Helvetica, sans-serif;

}
.date{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}

.latest_news{
    padding: 20px;
    margin-bottom:20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(184, 184, 185);
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}